In [1]:
import pandas as pd

In [3]:
file_path = r"C:\Users\18014\Desktop\Masters\D599 - Data Preparation and Exploration\Employee Turnover Dataset.xlsx"

df = pd.read_excel(file_path)

print(df.dtypes)

Age                         float64
Turnover                     object
BusinessTravel               object
DailyRate                     int64
Department                   object
DistanceFromHome              int64
Education                     int64
EducationField               object
EmployeeCount                 int64
EmployeeNumber                int64
EnvironmentSatisfaction       int64
Gender                       object
HourlyRate                    int64
JobInvolvement                int64
JobLevel                      int64
JobRole                      object
JobSatisfaction               int64
MaritalStatus                object
MonthlyIncome               float64
MonthlyRate                 float64
NumCompaniesWorked          float64
Over18                       object
OverTime                     object
PercentSalaryHike             int64
PerformanceRating             int64
RelationshipSatisfaction      int64
StandardHours                 int64
StockOptionLevel              int64
TotalWorkingYears           float64
TrainingTimesLastYear       float64
WorkLifeBalance               int64
YearsAtCompany                int64
YearsInCurrentRole            int64
YearsSinceLastPromotion     float64
YearsWithCurrManager         object
dtype: object

In [5]:
#Looking for duplicated data
num_duplicates = df.duplicated().sum()
print(f'Number of duplicate rows: {num_duplicates}')

Number of duplicate rows: 298

In [7]:
#Listing the duplicate rows
duplicate_rows = df[df.duplicated()]
print(duplicate_rows)

        Age Turnover BusinessTravel  DailyRate              Department  \
712    22.0       No  Travel_Rarely        611                   Sales
985    42.0       No     Non-Travel        568                   Sales
1022   28.0      Yes  Travel_Rarely        406  Research & Development
1033   29.0      Yes     Non-Travel        492                 Support
1212   41.0      Yes  Travel_Rarely        711                Hardware
...     ...      ...            ...        ...                     ...
10272  43.0       No     Non-Travel        567                 Support
10275  47.0      Yes     Non-Travel       1034                Hardware
10290  27.0       No     Non-Travel        202  Research & Development
10291  27.0       No  Travel_Rarely        649                Hardware
10319  32.0       No     Non-Travel        145                Hardware

       DistanceFromHome  Education    EducationField  EmployeeCount  \
712                  33          2             Other              1
985                  50          1     Life Sciences              1
1022                 38          1  Technical Degree              1
1033                 49          5         Marketing              1
1212                 49          5   Human Resources              1
...                 ...        ...               ...            ...
10272                43          5   Human Resources              1
10275                 2          4     Life Sciences              1
10290                16          5         Marketing              1
10291                44          4   Human Resources              1
10319                49          1             Other              1

       EmployeeNumber  ...  RelationshipSatisfaction StandardHours  \
712               416  ...                         3            80
985              9921  ...                         3            80
1022             5528  ...                         2            80
1033             5587  ...                         1            80
1212             9892  ...                         2            80
...               ...  ...                       ...           ...
10272            9851  ...                         2            80
10275            9951  ...                         1            80
10290            9920  ...                         4            80
10291            9908  ...                         3            80
10319            9885  ...                         3            80

       StockOptionLevel  TotalWorkingYears  TrainingTimesLastYear  \
712                   4                5.0                    5.0
985                   1               10.0                    3.0
1022                  2               38.0                    3.0
1033                  4               13.0                    4.0
1212                  3                9.0                    1.0
...                 ...                ...                    ...
10272                 3                1.0                    1.0
10275                 4                3.0                    4.0
10290                 2               23.0                    1.0
10291                 1               20.0                    6.0
10319                 4               22.0                    5.0

      WorkLifeBalance  YearsAtCompany YearsInCurrentRole  \
712                 2               5                  2
985                 3               4                  2
1022                3              23                 19
1033                1               9                  6
1212                3               7                  4
...               ...             ...                ...
10272               1               1                  1
10275               1               1                  1
10290               3               5                  5
10291               2               3                  3
10319               4              17                 11

       YearsSinceLastPromotion  YearsWithCurrManager
712                        5.0                     3
985                        1.0                     3
1022                      11.0                     7
1033                       9.0                     7
1212                       5.0                     2
...                        ...                   ...
10272                      1.0                     1
10275                      1.0                     1
10290                      5.0                     4
10291                      1.0                     3
10319                     13.0                     2

[298 rows x 35 columns]

In [9]:
#There are 298 duplicate rows that should be deleted

# Drop all duplicate rows
df_cleaned = df.drop_duplicates()

# Check the result to ensure duplicates were removed
print(df_cleaned)

        Age Turnover     BusinessTravel  DailyRate              Department  \
0      33.0      Yes         Non-Travel        241                Hardware
1      35.0      Yes         Non-Travel        679                 Support
2      27.0      Yes  Travel_Frequently        359                Hardware
3      44.0       No      Travel_Rarely       1133                Software
4      56.0       No      Travel_Rarely        118                Software
...     ...      ...                ...        ...                     ...
10316  19.0      Yes         Non-Travel        105  Research & Development
10317  23.0       No      Travel_Rarely       1373                   Sales
10318  47.0      Yes         Non-Travel       1250         Human Resources
10320  47.0      Yes      Travel_Rarely        486                Hardware
10321  40.0      Yes  Travel_Frequently       1213                Hardware

       DistanceFromHome  Education    EducationField  EmployeeCount  \
0                    16          3  Technical Degree              1
1                     7          2     Life Sciences              1
2                    50          1     Life Sciences              1
3                    12          5     Life Sciences              1
4                    43          2   Human Resources              1
...                 ...        ...               ...            ...
10316                24          1           Medical              1
10317                 2          3   Human Resources              1
10318                27          3           Medical              1
10320                44          5             Other              1
10321                33          1  Technical Degree              1

       EmployeeNumber  ...  RelationshipSatisfaction StandardHours  \
0                3505  ...                         1            80
1                1129  ...                         1            80
2                6305  ...                         4            80
3                4595  ...                         4            80
4                7203  ...                         2            80
...               ...  ...                       ...           ...
10316            4122  ...                         1            80
10317            9552  ...                         1            80
10318            4546  ...                         4            80
10320            4636  ...                         3            80
10321            5122  ...                         3            80

       StockOptionLevel  TotalWorkingYears  TrainingTimesLastYear  \
0                     4               35.0                    4.0
1                     1                5.0                    1.0
2                     4               10.0                    4.0
3                     3               19.0                    4.0
4                     1                3.0                    3.0
...                 ...                ...                    ...
10316                 1               26.0                    6.0
10317                 4               26.0                    4.0
10318                 1               19.0                    6.0
10320                 3               12.0                    6.0
10321                 4               29.0                    3.0

      WorkLifeBalance  YearsAtCompany YearsInCurrentRole  \
0                   4              13                  2
1                   1               4                  3
2                   2               4                  2
3                   1              14                  7
4                   4               1                  1
...               ...             ...                ...
10316               4               8                  8
10317               3               1                  1
10318               2              17                  1
10320               4               7                  5
10321               4              29                 27

       YearsSinceLastPromotion  YearsWithCurrManager
0                          8.0                    11
1                          3.0                     4
2                          4.0                     2
3                         12.0                     2
4                          1.0                     1
...                        ...                   ...
10316                      3.0                     5
10317                      1.0                     1
10318                      8.0                    11
10320                      5.0                     1
10321                     27.0                    18

[10024 rows x 35 columns]

In [11]:
#Checking again for duplicated data to ensure they were deleted
num_duplicates = df_cleaned.duplicated().sum()
print(f'Number of duplicate rows: {num_duplicates}')

Number of duplicate rows: 0

In [13]:
#Looking for missing data
print(df_cleaned.isnull().sum())

Age                           1
Turnover                      0
BusinessTravel                0
DailyRate                     0
Department                    0
DistanceFromHome              0
Education                     0
EducationField                1
EmployeeCount                 0
EmployeeNumber                0
EnvironmentSatisfaction       0
Gender                        3
HourlyRate                    0
JobInvolvement                0
JobLevel                      0
JobRole                       0
JobSatisfaction               0
MaritalStatus                 0
MonthlyIncome                 1
MonthlyRate                   2
NumCompaniesWorked            1
Over18                        0
OverTime                      0
PercentSalaryHike             0
PerformanceRating             0
RelationshipSatisfaction      0
StandardHours                 0
StockOptionLevel              0
TotalWorkingYears             1
TrainingTimesLastYear       418
WorkLifeBalance               0
YearsAtCompany                0
YearsInCurrentRole            0
YearsSinceLastPromotion       2
YearsWithCurrManager          0
dtype: int64

In [15]:
# Drop all rows with any missing values
df_cleaned = df_cleaned.dropna()

#Looking for missing data
print(df_cleaned.isnull().sum())

Age                         0
Turnover                    0
BusinessTravel              0
DailyRate                   0
Department                  0
DistanceFromHome            0
Education                   0
EducationField              0
EmployeeCount               0
EmployeeNumber              0
EnvironmentSatisfaction     0
Gender                      0
HourlyRate                  0
JobInvolvement              0
JobLevel                    0
JobRole                     0
JobSatisfaction             0
MaritalStatus               0
MonthlyIncome               0
MonthlyRate                 0
NumCompaniesWorked          0
Over18                      0
OverTime                    0
PercentSalaryHike           0
PerformanceRating           0
RelationshipSatisfaction    0
StandardHours               0
StockOptionLevel            0
TotalWorkingYears           0
TrainingTimesLastYear       0
WorkLifeBalance             0
YearsAtCompany              0
YearsInCurrentRole          0
YearsSinceLastPromotion     0
YearsWithCurrManager        0
dtype: int64

In [17]:
# Check the number of rows before and after dropping missing values
print(f"Original DataFrame: {df.shape[0]} rows")
print(f"Cleaned DataFrame: {df_cleaned.shape[0]} rows")

Original DataFrame: 10322 rows
Cleaned DataFrame: 9597 rows

In [ ]:
#Checking for inconsistent entries, formatting errors, out outliers starts here

In [19]:
#Check Age column for abnormalities
Age_counts = df_cleaned['Age'].value_counts()
print(Age_counts)

Age
48.0    252
21.0    248
57.0    247
28.0    245
60.0    242
26.0    241
41.0    240
56.0    237
31.0    237
39.0    237
50.0    234
55.0    234
49.0    232
33.0    232
24.0    231
46.0    228
51.0    228
22.0    228
23.0    227
29.0    225
27.0    225
34.0    223
18.0    223
58.0    221
54.0    220
45.0    217
19.0    216
42.0    216
25.0    216
35.0    216
43.0    215
38.0    212
30.0    212
36.0    211
40.0    211
53.0    211
47.0    210
37.0    209
52.0    207
59.0    205
20.0    200
32.0    191
44.0    183
96.0      1
12.0      1
Name: count, dtype: int64

In [ ]:
#It is unlikely there is an employee that is 12 or 96 years old. These should be deleted.

In [21]:
# Filter df_cleaned to keep only the rows where Age is between 18 and 80
df_cleaned = df_cleaned[(df_cleaned['Age'] >= 18) & (df_cleaned['Age'] <= 80)]

# Reuse code from above to check if the age filtering worked
Age_counts = df_cleaned['Age'].value_counts()
print(Age_counts)

Age
48.0    252
21.0    248
57.0    247
28.0    245
60.0    242
26.0    241
41.0    240
56.0    237
31.0    237
39.0    237
50.0    234
55.0    234
49.0    232
33.0    232
24.0    231
22.0    228
46.0    228
51.0    228
23.0    227
29.0    225
27.0    225
18.0    223
34.0    223
58.0    221
54.0    220
45.0    217
19.0    216
25.0    216
35.0    216
42.0    216
43.0    215
38.0    212
30.0    212
40.0    211
53.0    211
36.0    211
47.0    210
37.0    209
52.0    207
59.0    205
20.0    200
32.0    191
44.0    183
Name: count, dtype: int64

In [23]:
#Check Turnover for abnormalities
Turnover_counts = df_cleaned['Turnover'].value_counts()
print(Turnover_counts)

Turnover
No     4914
Yes    4681
Name: count, dtype: int64

In [ ]:
#Looks good!

In [25]:
#Check BusinessTravel for abnormalities
BusinessTravel_counts = df_cleaned['BusinessTravel'].value_counts()
print(BusinessTravel_counts)

BusinessTravel
Travel_Rarely        3250
Non-Travel           3197
Travel_Frequently    3145
1                       1
-1                      1
00                      1
Name: count, dtype: int64

In [ ]:
#Three entries are abnormal. 1, -1, and 00 should be deleted.

In [27]:
# Defining the unwanted values
unwanted_values = [1, -1, '00']

# Removing the rows where BusinessTravel is in the unwanted values
df_cleaned = df_cleaned[~df_cleaned['BusinessTravel'].isin(unwanted_values)]

#Reuse code from above to see if the abnormalities are still in the data
BusinessTravel_counts = df_cleaned['BusinessTravel'].value_counts()
print(BusinessTravel_counts)

BusinessTravel
Travel_Rarely        3250
Non-Travel           3197
Travel_Frequently    3145
Name: count, dtype: int64

In [29]:
#Making sure all values in DailyRate are numeric

#First any entires that are non-numeric will be changed to NaN values. Then count how many NaN values there are to see if we caught any errors
non_numeric_entries_DR = df_cleaned[pd.to_numeric(df_cleaned['DailyRate'], errors='coerce').isna()]
print(non_numeric_entries_DR)

Empty DataFrame
Columns: [Age, Turnover, BusinessTravel, DailyRate, Department, DistanceFromHome, Education, EducationField, EmployeeCount, EmployeeNumber, EnvironmentSatisfaction, Gender, HourlyRate, JobInvolvement, JobLevel, JobRole, JobSatisfaction, MaritalStatus, MonthlyIncome, MonthlyRate, NumCompaniesWorked, Over18, OverTime, PercentSalaryHike, PerformanceRating, RelationshipSatisfaction, StandardHours, StockOptionLevel, TotalWorkingYears, TrainingTimesLastYear, WorkLifeBalance, YearsAtCompany, YearsInCurrentRole, YearsSinceLastPromotion, YearsWithCurrManager]
Index: []

[0 rows x 35 columns]

In [ ]:
#Since the DataFrame returned empty, it must all be numeric. Now let's look for outliers

In [31]:
#Check DailyRate for abnormalities
DailyRate_counts = df_cleaned['DailyRate'].value_counts()
print(DailyRate_counts)

DailyRate
1146    18
946     16
1099    15
691     15
573     15
        ..
771      1
439      1
807      1
342      1
828      1
Name: count, Length: 1398, dtype: int64

In [33]:
# Check DailyRate for outliers
print(df_cleaned['DailyRate'].describe())

count    9592.000000
mean      807.078294
std       405.154126
min       100.000000
25%       455.750000
50%       806.500000
75%      1161.250000
max      1500.000000
Name: DailyRate, dtype: float64

In [ ]:
#The minimum and maximum do not seem unreasonable
#DailyRates looks good!

In [35]:
# Check Department for abnormalities
department_counts = df_cleaned['Department'].value_counts()
print(department_counts)

Department
Support                   1660
Hardware                  1620
Research & Development    1610
Software                  1598
Sales                     1554
Human Resources           1550
Name: count, dtype: int64

In [ ]:
#Looks good!

In [37]:
#Making sure all values in DistanceFromHome are numeric

#First any entires that are non-numeric will be changed to NaN values. Then count how many NaN values there are to see if we caught any errors
non_numeric_entries_DFH = df_cleaned[pd.to_numeric(df_cleaned['DistanceFromHome'], errors='coerce').isna()]
print(non_numeric_entries_DFH)

Empty DataFrame
Columns: [Age, Turnover, BusinessTravel, DailyRate, Department, DistanceFromHome, Education, EducationField, EmployeeCount, EmployeeNumber, EnvironmentSatisfaction, Gender, HourlyRate, JobInvolvement, JobLevel, JobRole, JobSatisfaction, MaritalStatus, MonthlyIncome, MonthlyRate, NumCompaniesWorked, Over18, OverTime, PercentSalaryHike, PerformanceRating, RelationshipSatisfaction, StandardHours, StockOptionLevel, TotalWorkingYears, TrainingTimesLastYear, WorkLifeBalance, YearsAtCompany, YearsInCurrentRole, YearsSinceLastPromotion, YearsWithCurrManager]
Index: []

[0 rows x 35 columns]

In [39]:
#Check DistanceFromHome for abnormalities
DistanceFromHome_counts = df_cleaned['DistanceFromHome'].value_counts()
print(DistanceFromHome_counts)

DistanceFromHome
1       216
5       212
30      210
3       206
29      206
7       205
34      205
9       204
41      203
16      201
43      201
14      201
11      200
37      199
25      198
32      198
36      198
18      198
12      198
13      197
44      195
27      195
19      193
22      192
10      192
48      192
33      189
49      189
38      189
40      188
26      188
42      187
4       187
24      186
28      186
50      185
17      184
39      184
6       184
2       183
15      183
46      181
21      180
45      180
23      180
47      179
31      175
20      175
8       170
35      162
3737      1
3535      1
978       1
Name: count, dtype: int64

In [ ]:
#There are three very large commutes from home. Unless the CEO commutes by private jet, nobody is commuting 900 to 3,000 miles.
# Anything over 100 appears to be an outlier

In [41]:
# Remove rows where DistanceFromHome is greater than 100
df_cleaned = df_cleaned[df_cleaned['DistanceFromHome'] <= 100]

# Reuse code from above to see if the outliers were deleted
DistanceFromHome_counts = df_cleaned['DistanceFromHome'].value_counts()
print(DistanceFromHome_counts)

DistanceFromHome
1     216
5     212
30    210
3     206
29    206
7     205
34    205
9     204
41    203
14    201
16    201
43    201
11    200
37    199
25    198
18    198
36    198
32    198
12    198
13    197
44    195
27    195
19    193
10    192
48    192
22    192
33    189
38    189
49    189
40    188
26    188
4     187
42    187
24    186
28    186
50    185
39    184
6     184
17    184
15    183
2     183
46    181
21    180
23    180
45    180
47    179
31    175
20    175
8     170
35    162
Name: count, dtype: int64

In [135]:
#Listing unique entries in Education
Education_counts = df_cleaned['Education'].value_counts()
print(Education_counts)

Education
1    1977
2    1927
4    1921
3    1886
5    1867
Name: count, dtype: int64

In [ ]:
#Looks good!

In [43]:
#Listing unique entries in EducationField
EducationField_counts = df_cleaned['EducationField'].value_counts()
print(EducationField_counts)

EducationField
Marketing           1642
Medical             1624
Other               1606
Life Sciences       1598
Human Resources     1582
Technical Degree    1536
                       1
Name: count, dtype: int64

In [ ]:
#There's one blank entry that should be deleted

In [45]:
# Remove rows where EducationField is an empty string
df_cleaned = df_cleaned[df_cleaned['EducationField'] != ' ']

# Use the same code from earlier to confirm the blank data is gone
EducationField_counts = df_cleaned['EducationField'].value_counts()
print(EducationField_counts)

EducationField
Marketing           1642
Medical             1624
Other               1606
Life Sciences       1598
Human Resources     1582
Technical Degree    1536
Name: count, dtype: int64

In [47]:
#EmployeeCount should always be 1

#Looking for rows where EmployeeCount is not equal to 1
invalid_employee_count = df_cleaned[df_cleaned['EmployeeCount'] != 1]

#Display incorrect rows
print(invalid_employee_count)

       Age Turnover     BusinessTravel  DailyRate              Department  \
140   50.0       No  Travel_Frequently        547                Hardware
7167  56.0       No         Non-Travel        105                 Support
7877  28.0      Yes         Non-Travel        929  Research & Development

      DistanceFromHome  Education   EducationField  EmployeeCount  \
140                 13          4          Medical             -1
7167                38          5            Other              3
7877                12          2  Human Resources             -1

      EmployeeNumber  ...  RelationshipSatisfaction StandardHours  \
140             8115  ...                         3            80
7167              21  ...                         1            80
7877             194  ...                         2            80

      StockOptionLevel  TotalWorkingYears  TrainingTimesLastYear  \
140                  1               23.0                    3.0
7167                 3               29.0                    2.0
7877                 3               22.0                    3.0

     WorkLifeBalance  YearsAtCompany YearsInCurrentRole  \
140                3              20                 13
7167               1              22                  5
7877               1               7                  1

      YearsSinceLastPromotion  YearsWithCurrManager
140                      12.0                     4
7167                     20.0                     7
7877                      4.0                     1

[3 rows x 35 columns]

In [49]:
#There are three rows that need to be fixed

# Set all EmployeeCount values to 1
df_cleaned['EmployeeCount'] = 1

#Run the same code from earlier to ensure there are no Employee Count not equal to 1
invalid_employee_count = df_cleaned[df_cleaned['EmployeeCount'] != 1]

#Display incorrect rows
print(invalid_employee_count)

Empty DataFrame
Columns: [Age, Turnover, BusinessTravel, DailyRate, Department, DistanceFromHome, Education, EducationField, EmployeeCount, EmployeeNumber, EnvironmentSatisfaction, Gender, HourlyRate, JobInvolvement, JobLevel, JobRole, JobSatisfaction, MaritalStatus, MonthlyIncome, MonthlyRate, NumCompaniesWorked, Over18, OverTime, PercentSalaryHike, PerformanceRating, RelationshipSatisfaction, StandardHours, StockOptionLevel, TotalWorkingYears, TrainingTimesLastYear, WorkLifeBalance, YearsAtCompany, YearsInCurrentRole, YearsSinceLastPromotion, YearsWithCurrManager]
Index: []

[0 rows x 35 columns]

In [51]:
#Making sure all values in EmployeeNumber are numeric

#First any entires that are non-numeric will be changed to NaN values. Then count how many NaN values there are to see if we caught any errors
non_numeric_entries_EN = df_cleaned[pd.to_numeric(df_cleaned['EmployeeNumber'], errors='coerce').isna()]
print(non_numeric_entries_EN)

Empty DataFrame
Columns: [Age, Turnover, BusinessTravel, DailyRate, Department, DistanceFromHome, Education, EducationField, EmployeeCount, EmployeeNumber, EnvironmentSatisfaction, Gender, HourlyRate, JobInvolvement, JobLevel, JobRole, JobSatisfaction, MaritalStatus, MonthlyIncome, MonthlyRate, NumCompaniesWorked, Over18, OverTime, PercentSalaryHike, PerformanceRating, RelationshipSatisfaction, StandardHours, StockOptionLevel, TotalWorkingYears, TrainingTimesLastYear, WorkLifeBalance, YearsAtCompany, YearsInCurrentRole, YearsSinceLastPromotion, YearsWithCurrManager]
Index: []

[0 rows x 35 columns]

In [ ]:
#All EmployeeNumbers are numeric

In [53]:
#Listing unique entries in EducationField column
EmployeeNumber_counts = df_cleaned['EmployeeNumber'].value_counts()
print(EmployeeNumber_counts)

EmployeeNumber
7883    2
161     2
925     1
4056    1
6353    1
       ..
9928    1
3850    1
3390    1
1280    1
5122    1
Name: count, Length: 9586, dtype: int64

In [ ]:
#It looks like there's two shared EmployeeNumbers. 
#However, I'm choosing to leave this untouched because it could be that an employee left and a new employee got his old number
#Meaning both would be valid employees

In [55]:
#Listing unique entries in EnvironmentSatisfaction
environment_satisfaction_counts = df_cleaned['EnvironmentSatisfaction'].value_counts()

# Display the counts
print("Environment Satisfaction Counts:")
print(environment_satisfaction_counts)

Environment Satisfaction Counts:
EnvironmentSatisfaction
1    2405
2    2405
3    2402
4    2376
Name: count, dtype: int64

In [ ]:
#Looks good!

In [145]:
#Listing unique entries in Gender
Gender_counts = df_cleaned['Gender'].value_counts()

# Display the counts
print(Gender_counts)

Gender
Male      4803
Female    4775
Name: count, dtype: int64

In [ ]:
#Looks good!

In [61]:
#Listing unique entries in  HourlyRate
HourlyRate_counts = df_cleaned['HourlyRate'].value_counts()

# Display the counts
print("HourlyRate Counts:")
print(HourlyRate_counts)

HourlyRate Counts:
HourlyRate
140    79
170    78
194    77
87     73
195    72
       ..
56     42
193    42
156    41
131    41
158    40
Name: count, Length: 171, dtype: int64

In [ ]:
#HourlyRate has no outliers or unusual data points

In [63]:
#Listing unique entries in JobInvolvement
JobInvolvement_counts = df_cleaned['JobInvolvement'].value_counts()

# Display the counts
print("JobInvolvement:")
print(JobInvolvement_counts)

JobInvolvement:
JobInvolvement
3    2416
4    2408
2    2392
1    2372
Name: count, dtype: int64

In [ ]:
#Looks good!

In [65]:
#Listing unique entries in  JobLevel
JobLevel_counts = df_cleaned['JobLevel'].value_counts()

# Display the counts
print("JobLevel:")
print(JobLevel_counts)

JobLevel:
JobLevel
4    2011
2    1959
3    1905
5    1870
1    1843
Name: count, dtype: int64

In [ ]:
#Looks good!

In [67]:
#Listing unique entries in JobRole
JobRole_counts = df_cleaned['JobRole'].value_counts()

# Display the counts
print("JobRole:")
print(JobRole_counts)

JobRole:
JobRole
Manager                      1048
Research Director             985
Manufacturing Director        978
Healthcare Representative     961
Human Resources               952
Laboratory Technician         945
Sales Executive               944
Developer                     936
Sales Representative          921
Research Scientist            915
                                3
Name: count, dtype: int64

In [ ]:
#There are three blank entries that should be deleted

In [69]:
# Remove rows where JobRole is an empty string
df_cleaned = df_cleaned[df_cleaned['JobRole'] != ' ']

# Do the same code from earlier to confirm the blank data is gone
JobRole_counts = df_cleaned['JobRole'].value_counts()

# Display the counts
print("JobRole:")
print(JobRole_counts)

JobRole:
JobRole
Manager                      1048
Research Director             985
Manufacturing Director        978
Healthcare Representative     961
Human Resources               952
Laboratory Technician         945
Sales Executive               944
Developer                     936
Sales Representative          921
Research Scientist            915
Name: count, dtype: int64

In [71]:
# Count unique entries in JobSatisfaction
JobSatisfaction_counts = df_cleaned['JobSatisfaction'].value_counts()

# Display the counts
print("JobSatisfaction:")
print(JobSatisfaction_counts)

JobSatisfaction:
JobSatisfaction
2    2459
4    2396
1    2395
3    2335
Name: count, dtype: int64

In [ ]:
#Looks good!

In [73]:
#Listing unique entries in MartialStatus
MaritalStatus_counts = df_cleaned['MaritalStatus'].value_counts()

# Display the counts
print("MaritalStatus:")
print(MaritalStatus_counts)

MaritalStatus:
MaritalStatus
Divorced    3317
Single      3140
Married     3128
Name: count, dtype: int64

In [ ]:
#MaritalStatus data all fit neatly into three reasonable categories and normally distributed (no outliers)

In [75]:
#Listing unique entries in MonthlyIncome
MonthlyIncome_counts = df_cleaned['MonthlyIncome'].value_counts()

# Display the counts
print("MonthlyIncome:")
print(MonthlyIncome_counts)

MonthlyIncome:
MonthlyIncome
9392.0     4
34187.0    3
27263.0    3
2967.0     3
2463.0     3
          ..
28726.0    1
50291.0    1
41544.0    1
23711.0    1
29469.0    1
Name: count, Length: 8716, dtype: int64

In [77]:
# Looking for outliers in MonthlyIncome
print(df_cleaned['MonthlyIncome'].describe())

count     9585.000000
mean     25803.348774
std      14443.129226
min     -38005.000000
25%      13353.000000
50%      25423.000000
75%      38391.000000
max      50996.000000
Name: MonthlyIncome, dtype: float64

In [87]:
#Because monthly income can vary dramatically and can be unique or shared
#The only numbers we need to be concerned about are negative numbers.

In [131]:
#Listing unique entries in MonthlyIncome that are less than 0
less_than_0 = df_cleaned[df_cleaned['MonthlyIncome'] < 0].shape[0]

print(f'Number of values in MonthlyIncome less than 0: {less_than_0}')

Number of values in MonthlyIncome greater than 0: 0

In [ ]:
#Since there's only 1, we can assume it is a typo and must be adjusted. 
#We can't safely assume, however, what the actual value should be, so we should delete it.

In [133]:
# Filter df_cleaned to keep only rows where MonthlyIncome is positive
df_cleaned = df_cleaned[(df_cleaned['MonthlyIncome'] >= 0)]

#To be sure it worked, let's reuse our code for checking for negative values
# Count how many values in MonthlyIncome are less than 0
less_than_0 = df_cleaned[df_cleaned['MonthlyIncome'] < 0].shape[0]

print(f'Number of values in MonthlyIncome less than 0: {less_than_0}')

Number of values in MonthlyIncome greater than 0: 0

In [87]:
# MonthlyRate
MonthlyRate_counts = df_cleaned['MonthlyRate'].value_counts()
print("MonthlyRate:")
print(MonthlyRate_counts)

MonthlyRate:
MonthlyRate
526320.0    3
21078.0     2
739935.0    2
22920.0     2
870720.0    2
           ..
20133.0     1
130797.0    1
106505.0    1
334145.0    1
884070.0    1
Name: count, Length: 9446, dtype: int64

In [89]:
# Looking for outliers in MonthlyIncome
print(df_cleaned['MonthlyRate'].describe())

count    9.584000e+03
mean     9.140733e+07
std      8.909429e+09
min      1.270000e+03
25%      1.217768e+05
50%      3.071420e+05
75%      5.971372e+05
max      8.722149e+11
Name: MonthlyRate, dtype: float64

In [93]:
#Because no employee is likely to be making 8,722,149,000,000 (8 trillion dollars) in a month, this is an outlier that should be deleted.
#We can check for more outliers by checking the 10 highest results

#Sort MonthlyRatein descending order and display the top 10 rows
top_10_MonthlyRate = df_cleaned[['MonthlyRate']].sort_values(by='MonthlyRate', ascending=False).head(10)

print(top_10_MonthlyRate)

       MonthlyRate
2900  8.722149e+11
3466  1.523280e+06
8264  1.522920e+06
2190  1.514100e+06
4291  1.496430e+06
4048  1.492170e+06
1112  1.491360e+06
7497  1.491120e+06
4855  1.484400e+06
1056  1.482120e+06

In [95]:
# Remove rows where MonthlyRate is greater than 2,000,000
df_cleaned = df_cleaned[df_cleaned['MonthlyRate'] <= 2000000]

In [97]:
#Reuse code from earlier to make sure the outlier was deleted

#Sort MonthlyRatein descending order and display the top 10 rows
top_10_MonthlyRate = df_cleaned[['MonthlyRate']].sort_values(by='MonthlyRate', ascending=False).head(10)

print(top_10_MonthlyRate)

      MonthlyRate
3466    1523280.0
8264    1522920.0
2190    1514100.0
4291    1496430.0
4048    1492170.0
1112    1491360.0
7497    1491120.0
4855    1484400.0
1056    1482120.0
7797    1478043.0

In [99]:
#Listing unique entries in NumCompaniesWorked
NumCompaniesWorked_counts = df_cleaned['NumCompaniesWorked'].value_counts()
print("NumCompaniesWorked:")
print(NumCompaniesWorked_counts)

NumCompaniesWorked:
NumCompaniesWorked
2.0    1099
8.0    1079
7.0    1077
1.0    1072
0.0    1064
4.0    1062
6.0    1060
3.0    1059
5.0    1011
Name: count, dtype: int64

In [ ]:
#Looks Geat!

In [101]:
#Listing unique entries in Over18
Over18_counts = df_cleaned['Over18'].value_counts()
print(Over18_counts)

Over18
Y    9583
Name: count, dtype: int64

In [ ]:
#Looks Geat!

In [103]:
#Listing unique entries in OverTime
OverTime_counts = df_cleaned['OverTime'].value_counts()
print(OverTime_counts)

OverTime
No     4806
Yes    4777
Name: count, dtype: int64

In [ ]:
#Looks Geat!

In [105]:
#Listing unique entries in  PercentSalaryHike
PercentSalaryHike_counts = df_cleaned['PercentSalaryHike'].value_counts()
print("PercentSalaryHike:")
print(PercentSalaryHike_counts)

PercentSalaryHike:
PercentSalaryHike
30    219
44    212
40    209
11    209
32    206
19    206
6     205
4     204
9     204
41    203
46    200
42    200
43    198
26    198
27    198
33    197
20    197
3     197
25    197
8     197
28    195
10    195
2     194
36    192
15    191
45    191
18    190
24    190
5     189
48    188
0     187
49    187
35    186
13    186
34    185
47    184
21    184
22    183
7     183
12    182
37    182
38    181
23    180
31    179
14    179
29    178
39    175
16    175
17    173
1     163
Name: count, dtype: int64

In [ ]:
#None of these numbers are unique or extreme, so this looks great!

In [107]:
#Listing unique entries in PerformanceRating
PerformanceRating_counts = df_cleaned['PerformanceRating'].value_counts()
print(PerformanceRating_counts)

PerformanceRating
1    2445
4    2419
3    2405
2    2314
Name: count, dtype: int64

In [ ]:
#Looks great!

In [109]:
#Listing unique entries in RelationshipSatisfaction
RelationshipSatisfaction_counts = df_cleaned['RelationshipSatisfaction'].value_counts()
print("RelationshipSatisfaction:")
print(RelationshipSatisfaction_counts)

RelationshipSatisfaction:
RelationshipSatisfaction
2    2444
3    2392
1    2380
4    2367
Name: count, dtype: int64

In [ ]:
#Looks great!

In [111]:
#Listing unique entries in StandardHours
StandardHours_counts = df_cleaned['StandardHours'].value_counts()
print(StandardHours_counts)

StandardHours
80    9583
Name: count, dtype: int64

In [ ]:
#Looks great!

In [113]:
#Listing unique entries in StockOptionLevel
StockOptionLevel_counts = df_cleaned['StockOptionLevel'].value_counts()
print("StockOptionLevel:")
print(StockOptionLevel_counts)

StockOptionLevel:
StockOptionLevel
2    2450
4    2415
1    2391
3    2327
Name: count, dtype: int64

In [ ]:
#Looks great!

In [115]:
#Listing unique entries in TotalWorkingYears
TotalWorkingYears_counts = df_cleaned['TotalWorkingYears'].value_counts()
print(TotalWorkingYears_counts)

TotalWorkingYears
 3.0      288
 32.0     269
 28.0     266
 16.0     260
 30.0     253
 26.0     252
 40.0     252
 21.0     249
 4.0      249
 13.0     249
 12.0     247
 18.0     247
 8.0      246
 24.0     245
 20.0     245
 29.0     243
 23.0     243
 17.0     242
 36.0     241
 34.0     241
 37.0     240
 35.0     239
 38.0     237
 19.0     235
 22.0     233
 10.0     233
 33.0     232
 6.0      231
 9.0      231
 11.0     229
 5.0      227
 39.0     227
 14.0     227
 1.0      226
 2.0      226
 31.0     223
 15.0     221
 7.0      217
 27.0     215
 25.0     205
-1.0        1
 222.0      1
Name: count, dtype: int64

In [ ]:
#Clearly nobody has been working for -1 year or 220 years. These rows will be deleted.

In [117]:
# Filter df_cleaned to keep only rows where TotalWorkingYears is between 0 and 100
df_cleaned = df_cleaned[(df_cleaned['TotalWorkingYears'] >= 0) & (df_cleaned['TotalWorkingYears'] <= 100)]

#Reuse code from above to see if the outliers are gone
TotalWorkingYears_counts = df_cleaned['TotalWorkingYears'].value_counts()
print(TotalWorkingYears_counts)

TotalWorkingYears
3.0     288
32.0    269
28.0    266
16.0    260
30.0    253
26.0    252
40.0    252
13.0    249
21.0    249
4.0     249
12.0    247
18.0    247
8.0     246
24.0    245
20.0    245
23.0    243
29.0    243
17.0    242
34.0    241
36.0    241
37.0    240
35.0    239
38.0    237
19.0    235
22.0    233
10.0    233
33.0    232
6.0     231
9.0     231
11.0    229
39.0    227
14.0    227
5.0     227
1.0     226
2.0     226
31.0    223
15.0    221
7.0     217
27.0    215
25.0    205
Name: count, dtype: int64

In [119]:
#Listing unique entries in TrainingTimesLastYear
TrainingTimesLastYear_counts = df_cleaned['TrainingTimesLastYear'].value_counts()
print(TrainingTimesLastYear_counts)

TrainingTimesLastYear
4.0    1633
1.0    1616
2.0    1610
6.0    1579
3.0    1577
5.0    1566
Name: count, dtype: int64

In [ ]:
#Looks good!

In [121]:
#Listing unique entries in WorkLifeBalance
WorkLifeBalance_counts = df_cleaned['WorkLifeBalance'].value_counts()
print(WorkLifeBalance_counts)

WorkLifeBalance
1    2435
2    2402
4    2384
3    2360
Name: count, dtype: int64

In [ ]:
#Looks good!

In [123]:
#Listing unique entries in YearsAtCompany
YearsAtCompany_counts = df_cleaned['YearsAtCompany'].value_counts()
print(YearsAtCompany_counts)

YearsAtCompany
1     1018
2      757
3      705
4      590
5      518
6      462
7      441
8      401
9      376
10     362
11     324
12     304
14     282
13     281
15     251
17     237
16     220
19     204
18     196
21     169
20     157
22     148
23     147
26     116
24     112
25     104
27     101
29      95
28      90
31      78
30      75
33      62
32      49
34      38
35      35
36      27
37      24
38      11
39       8
40       6
Name: count, dtype: int64

In [ ]:
#Looks good!

In [125]:
#Listing unique entries in YearsInCurrentRole
YearsInCurrentRole_counts = df_cleaned['YearsInCurrentRole'].value_counts()
print(YearsInCurrentRole_counts)

YearsInCurrentRole
1     2412
2     1328
3      949
4      775
5      610
6      501
7      418
8      355
9      313
10     269
11     244
12     212
13     161
14     146
15     119
16     118
17      99
18      92
20      63
19      59
21      55
22      49
23      44
26      28
25      28
24      28
27      26
31      18
28      15
30      13
29      11
32       8
33       5
34       4
35       3
37       3
Name: count, dtype: int64

In [490]:
#Listing unique entries in YearsSinceLastPromotion
YearsSinceLastPromotion_counts = df_cleaned['YearsSinceLastPromotion'].value_counts()
print(YearsSinceLastPromotion_counts)

YearsSinceLastPromotion
1.0     2395
2.0     1342
3.0      952
4.0      773
5.0      590
6.0      477
7.0      426
8.0      354
9.0      326
10.0     253
11.0     248
12.0     196
13.0     172
14.0     156
15.0     128
16.0     100
17.0      97
18.0      86
19.0      84
20.0      71
22.0      52
21.0      45
23.0      39
26.0      37
28.0      30
24.0      30
27.0      27
25.0      23
29.0      19
30.0      16
31.0      12
34.0       7
32.0       7
33.0       3
36.0       3
35.0       2
37.0       2
38.0       1
Name: count, dtype: int64

In [ ]:
#Looks good!

In [127]:
#Listing unique entries in YearsWithCurrManager
YearsWithCurrManager_counts = df_cleaned['YearsWithCurrManager'].value_counts()
print(YearsWithCurrManager_counts)

YearsWithCurrManager
1        2430
2        1352
3         985
4         777
5         578
6         492
7         408
8         361
9         287
10        245
11        221
12        213
13        185
14        149
16        135
15        120
18         89
17         86
19         75
21         54
22         54
20         53
23         39
24         35
29         24
27         24
25         23
26         21
28         18
30         14
33          7
34          7
31          6
32          5
na          2
37          2
35          2
36          1
38          1
-1000       1
Name: count, dtype: int64

In [129]:
# Remove rows where YearsWithCurrManager is -1000
df_cleaned = df_cleaned[(df_cleaned['YearsWithCurrManager'] != 'na') & (df_cleaned['YearsWithCurrManager'] != -1000)]

YearsWithCurrManager_counts = df_cleaned['YearsWithCurrManager'].value_counts()
print(YearsWithCurrManager_counts)

YearsWithCurrManager
1     2430
2     1352
3      985
4      777
5      578
6      492
7      408
8      361
9      287
10     245
11     221
12     213
13     185
14     149
16     135
15     120
18      89
17      86
19      75
22      54
21      54
20      53
23      39
24      35
29      24
27      24
25      23
26      21
28      18
30      14
34       7
33       7
31       6
32       5
37       2
35       2
36       1
38       1
Name: count, dtype: int64

In [135]:
#The dataset is finally clean!

# Save the cleaned DataFrame as a CSV file on the desktop
df_cleaned.to_excel(r'C:\Users\18014\Desktop\cleaned_employee_data_final.xlsx', index=False)