In [1]:
#Packages for analysis
import pandas as pd
import numpy as np

#Libraries for machine learning models
from sklearn.model_selection import train_test_split
from sklearn.ensemble import RandomForestClassifier
from sklearn.preprocessing import LabelEncoder
from sklearn.metrics import (
    classification_report,
    accuracy_score,
    confusion_matrix,
    roc_auc_score,
    roc_curve
)

file_path = r"C:\Users\18014\Desktop\medical_clean(1).csv"

# Read the CSV file
data = pd.read_csv(file_path)

# Display the first few rows of the dataset
print(data.head())

   CaseOrder Customer_id                           Interaction  \
0          1     C412403  8cd49b13-f45a-4b47-a2bd-173ffa932c2f
1          2     Z919181  d2450b70-0337-4406-bdbb-bc1037f1734c
2          3     F995323  a2057123-abf5-4a2c-abad-8ffe33512562
3          4     A879973  1dec528d-eb34-4079-adce-0d7a40e82205
4          5     C544523  5885f56b-d6da-43a3-8760-83583af94266

                                UID          City State        County    Zip  \
0  3a83ddb66e2ae73798bdf1d705dc0932           Eva    AL        Morgan  35621
1  176354c5eef714957d486009feabf195      Marianna    FL       Jackson  32446
2  e19a0fa00aeda885b8a436757e889bc9   Sioux Falls    SD     Minnehaha  57110
3  cd17d7b6d152cb6f23957346d11c3f07  New Richland    MN        Waseca  56072
4  d2f0425877b10ed6bb381f3e2579424a    West Point    VA  King William  23181

        Lat       Lng  ...  TotalCharge Additional_charges Item1 Item2  Item3  \
0  34.34960 -86.72508  ...  3726.702860       17939.403420     3     3      2
1  30.84513 -85.22907  ...  4193.190458       17612.998120     3     4      3
2  43.54321 -96.63772  ...  2434.234222       17505.192460     2     4      4
3  43.89744 -93.51479  ...  2127.830423       12993.437350     3     5      5
4  37.59894 -76.88958  ...  2113.073274        3716.525786     2     1      3

   Item4  Item5 Item6 Item7 Item8
0      2      4     3     3     4
1      4      4     4     3     3
2      4      3     4     3     3
3      3      4     5     5     5
4      3      5     3     4     3

[5 rows x 50 columns]

In [2]:
data.columns = data.columns.str.strip()

In [3]:
data.describe()

,CaseOrder,Zip,Lat,Lng,Population,Children,Age,Income,VitD_levels,Doc_visits,...,TotalCharge,Additional_charges,Item1,Item2,Item3,Item4,Item5,Item6,Item7,Item8
count,10000.00000,10000.000000,10000.000000,10000.000000,10000.000000,10000.000000,10000.000000,10000.000000,10000.000000,10000.000000,...,10000.000000,10000.000000,10000.000000,10000.000000,10000.000000,10000.000000,10000.000000,10000.000000,10000.000000,10000.000000
mean,5000.50000,50159.323900,38.751099,-91.243080,9965.253800,2.097200,53.511700,40490.495160,17.964262,5.012200,...,5312.172769,12934.528587,3.518800,3.506700,3.511100,3.515100,3.496900,3.522500,3.494000,3.509700
std,2886.89568,27469.588208,5.403085,15.205998,14824.758614,2.163659,20.638538,28521.153293,2.017231,1.045734,...,2180.393838,6542.601544,1.031966,1.034825,1.032755,1.036282,1.030192,1.032376,1.021405,1.042312
min,1.00000,610.000000,17.967190,-174.209700,0.000000,0.000000,18.000000,154.080000,9.806483,1.000000,...,1938.312067,3125.703000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000
25%,2500.75000,27592.000000,35.255120,-97.352982,694.750000,0.000000,36.000000,19598.775000,16.626439,4.000000,...,3179.374015,7986.487755,3.000000,3.000000,3.000000,3.000000,3.000000,3.000000,3.000000,3.000000
50%,5000.50000,50207.000000,39.419355,-88.397230,2769.000000,1.000000,53.000000,33768.420000,17.951122,5.000000,...,5213.952000,11573.977735,4.000000,3.000000,4.000000,4.000000,3.000000,4.000000,3.000000,3.000000
75%,7500.25000,72411.750000,42.044175,-80.438050,13945.000000,3.000000,71.000000,54296.402500,19.347963,6.000000,...,7459.699750,15626.490000,4.000000,4.000000,4.000000,4.000000,4.000000,4.000000,4.000000,4.000000
max,10000.00000,99929.000000,70.560990,-65.290170,122814.000000,10.000000,89.000000,207249.100000,26.394449,9.000000,...,9180.728000,30566.070000,8.000000,7.000000,8.000000,7.000000,7.000000,7.000000,7.000000,7.000000

In [4]:
print(data.isnull().sum())

CaseOrder             0
Customer_id           0
Interaction           0
UID                   0
City                  0
State                 0
County                0
Zip                   0
Lat                   0
Lng                   0
Population            0
Area                  0
TimeZone              0
Job                   0
Children              0
Age                   0
Income                0
Marital               0
Gender                0
ReAdmis               0
VitD_levels           0
Doc_visits            0
Full_meals_eaten      0
vitD_supp             0
Soft_drink            0
Initial_admin         0
HighBlood             0
Stroke                0
Complication_risk     0
Overweight            0
Arthritis             0
Diabetes              0
Hyperlipidemia        0
BackPain              0
Anxiety               0
Allergic_rhinitis     0
Reflux_esophagitis    0
Asthma                0
Services              0
Initial_days          0
TotalCharge           0
Additional_charges    0
Item1                 0
Item2                 0
Item3                 0
Item4                 0
Item5                 0
Item6                 0
Item7                 0
Item8                 0
dtype: int64

In [5]:
data = data.drop(['CaseOrder', 'Customer_id', 'Interaction', 'UID', 'City', 'State', 
                  'County', 'Zip', 'Lat', 'Lng', 'Area', 'Population', 'TimeZone',
                  'Job'], axis=1)

In [6]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10000 entries, 0 to 9999
Data columns (total 36 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   Children            10000 non-null  int64
 1   Age                 10000 non-null  int64
 2   Income              10000 non-null  float64
 3   Marital             10000 non-null  object
 4   Gender              10000 non-null  object
 5   ReAdmis             10000 non-null  object
 6   VitD_levels         10000 non-null  float64
 7   Doc_visits          10000 non-null  int64
 8   Full_meals_eaten    10000 non-null  int64
 9   vitD_supp           10000 non-null  int64
 10  Soft_drink          10000 non-null  object
 11  Initial_admin       10000 non-null  object
 12  HighBlood           10000 non-null  object
 13  Stroke              10000 non-null  object
 14  Complication_risk   10000 non-null  object
 15  Overweight          10000 non-null  object
 16  Arthritis           10000 non-null  object
 17  Diabetes            10000 non-null  object
 18  Hyperlipidemia      10000 non-null  object
 19  BackPain            10000 non-null  object
 20  Anxiety             10000 non-null  object
 21  Allergic_rhinitis   10000 non-null  object
 22  Reflux_esophagitis  10000 non-null  object
 23  Asthma              10000 non-null  object
 24  Services            10000 non-null  object
 25  Initial_days        10000 non-null  float64
 26  TotalCharge         10000 non-null  float64
 27  Additional_charges  10000 non-null  float64
 28  Item1               10000 non-null  int64
 29  Item2               10000 non-null  int64
 30  Item3               10000 non-null  int64
 31  Item4               10000 non-null  int64
 32  Item5               10000 non-null  int64
 33  Item6               10000 non-null  int64
 34  Item7               10000 non-null  int64
 35  Item8               10000 non-null  int64
dtypes: float64(5), int64(13), object(18)
memory usage: 2.7+ MB

In [7]:
#Encoidng columns

#1. Binary Columns encoding
binary_columns = ['ReAdmis', 'HighBlood', 'Stroke', 'Overweight', 'Arthritis', 
                  'Diabetes', 'Hyperlipidemia', 'BackPain', 'Anxiety', 
                  'Allergic_rhinitis', 'Reflux_esophagitis', 'Asthma', 'Soft_drink']

for col in binary_columns:
    data[col] = data[col].map({'No': 0, 'Yes': 1})

#2. Special binary encoding just for Gender
data['Gender'] = data['Gender'].map({'Male': 0, 'Female': 1})

#3. One-Hot Encoding for Initial_admin and Services (nominal)
data = pd.get_dummies(data, columns=['Initial_admin', 'Services', 'Marital'], drop_first=True)

#4.Ordinal Encoding for Complication_risk
complication_risk_mapping = {'Low': 1, 'Medium': 2, 'High': 3}
data['Complication_risk'] = data['Complication_risk'].map(complication_risk_mapping)

#Checking the dataframe
print(data.head())
print(data.dtypes)

   Children  Age    Income  Gender  ReAdmis  VitD_levels  Doc_visits  \
0         1   53  86575.93     0.0        0    19.141466           6
1         3   51  46805.99     1.0        0    18.940352           4
2         3   53  14370.14     1.0        0    18.057507           4
3         0   78  39741.49     0.0        0    16.576858           4
4         1   22   1209.56     1.0        0    17.439069           5

   Full_meals_eaten  vitD_supp  Soft_drink  ...  Item8  \
0                 0          0           0  ...      4
1                 2          1           0  ...      3
2                 1          0           0  ...      3
3                 1          0           0  ...      5
4                 0          2           1  ...      3

   Initial_admin_Emergency Admission  Initial_admin_Observation Admission  \
0                               True                                False
1                               True                                False
2                              False                                False
3                              False                                False
4                              False                                False

   Services_CT Scan  Services_Intravenous  Services_MRI  Marital_Married  \
0             False                 False         False            False
1             False                  True         False             True
2             False                 False         False            False
3             False                 False         False             True
4              True                 False         False            False

   Marital_Never Married  Marital_Separated  Marital_Widowed
0                  False              False            False
1                  False              False            False
2                  False              False             True
3                  False              False            False
4                  False              False             True

[5 rows x 42 columns]
Children                                 int64
Age                                      int64
Income                                 float64
Gender                                 float64
ReAdmis                                  int64
VitD_levels                            float64
Doc_visits                               int64
Full_meals_eaten                         int64
vitD_supp                                int64
Soft_drink                               int64
HighBlood                                int64
Stroke                                   int64
Complication_risk                        int64
Overweight                               int64
Arthritis                                int64
Diabetes                                 int64
Hyperlipidemia                           int64
BackPain                                 int64
Anxiety                                  int64
Allergic_rhinitis                        int64
Reflux_esophagitis                       int64
Asthma                                   int64
Initial_days                           float64
TotalCharge                            float64
Additional_charges                     float64
Item1                                    int64
Item2                                    int64
Item3                                    int64
Item4                                    int64
Item5                                    int64
Item6                                    int64
Item7                                    int64
Item8                                    int64
Initial_admin_Emergency Admission         bool
Initial_admin_Observation Admission       bool
Services_CT Scan                          bool
Services_Intravenous                      bool
Services_MRI                              bool
Marital_Married                           bool
Marital_Never Married                     bool
Marital_Separated                         bool
Marital_Widowed                           bool
dtype: object

In [8]:
data

,Children,Age,Income,Gender,ReAdmis,VitD_levels,Doc_visits,Full_meals_eaten,vitD_supp,Soft_drink,...,Item8,Initial_admin_Emergency Admission,Initial_admin_Observation Admission,Services_CT Scan,Services_Intravenous,Services_MRI,Marital_Married,Marital_Never Married,Marital_Separated,Marital_Widowed
0,1,53,86575.93,0.0,0,19.141466,6,0,0,0,...,4,True,False,False,False,False,False,False,False,False
1,3,51,46805.99,1.0,0,18.940352,4,2,1,0,...,3,True,False,False,True,False,True,False,False,False
2,3,53,14370.14,1.0,0,18.057507,4,1,0,0,...,3,False,False,False,False,False,False,False,False,True
3,0,78,39741.49,0.0,0,16.576858,4,1,0,0,...,5,False,False,False,False,False,True,False,False,False
4,1,22,1209.56,1.0,0,17.439069,5,0,2,1,...,3,False,False,True,False,False,False,False,False,True
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9995,2,25,45967.61,0.0,0,16.980860,4,2,1,0,...,2,True,False,False,True,False,False,False,False,True
9996,4,87,14983.02,0.0,1,18.177020,5,0,0,0,...,4,False,False,True,False,False,False,False,False,True
9997,3,45,65917.81,1.0,1,17.129070,4,2,0,1,...,2,False,False,False,True,False,False,False,True,False
9998,3,43,29702.32,0.0,1,19.910430,5,2,1,0,...,3,True,False,False,False,False,False,False,False,False
9999,8,70,62682.63,1.0,1,18.388620,5,0,1,0,...,3,False,True,False,False,False,False,False,True,False

In [9]:
#Converting boolean (True/False) columns to integers
data = data.astype({col: int for col in data.columns if data[col].dtype == 'bool'})

data.to_csv("C:/Users/18014/Desktop/data_encoded.csv", index=False)

In [10]:
data

,Children,Age,Income,Gender,ReAdmis,VitD_levels,Doc_visits,Full_meals_eaten,vitD_supp,Soft_drink,...,Item8,Initial_admin_Emergency Admission,Initial_admin_Observation Admission,Services_CT Scan,Services_Intravenous,Services_MRI,Marital_Married,Marital_Never Married,Marital_Separated,Marital_Widowed
0,1,53,86575.93,0.0,0,19.141466,6,0,0,0,...,4,1,0,0,0,0,0,0,0,0
1,3,51,46805.99,1.0,0,18.940352,4,2,1,0,...,3,1,0,0,1,0,1,0,0,0
2,3,53,14370.14,1.0,0,18.057507,4,1,0,0,...,3,0,0,0,0,0,0,0,0,1
3,0,78,39741.49,0.0,0,16.576858,4,1,0,0,...,5,0,0,0,0,0,1,0,0,0
4,1,22,1209.56,1.0,0,17.439069,5,0,2,1,...,3,0,0,1,0,0,0,0,0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9995,2,25,45967.61,0.0,0,16.980860,4,2,1,0,...,2,1,0,0,1,0,0,0,0,1
9996,4,87,14983.02,0.0,1,18.177020,5,0,0,0,...,4,0,0,1,0,0,0,0,0,1
9997,3,45,65917.81,1.0,1,17.129070,4,2,0,1,...,2,0,0,0,1,0,0,0,1,0
9998,3,43,29702.32,0.0,1,19.910430,5,2,1,0,...,3,1,0,0,0,0,0,0,0,0
9999,8,70,62682.63,1.0,1,18.388620,5,0,1,0,...,3,0,1,0,0,0,0,0,1,0

In [11]:
#Splitting the data into readmission and all other variables
X = data.drop('ReAdmis', axis=1)
y = data['ReAdmis']

#Split the data into training and testing 80/20
X_train, X_temp, y_train, y_temp = train_test_split(X, y, test_size=0.4, random_state=1)
X_val, X_test, y_val, y_test = train_test_split(X_temp, y_temp, test_size=0.5, random_state=1)

#Random Forest Classifier
rf_model = RandomForestClassifier(n_estimators=100, random_state=1)

#Training the model and predictions
rf_model.fit(X_train, y_train)
y_val_pred = rf_model.predict(X_val)

#Accuracy and classification
print("Validation Accuracy:", accuracy_score(y_val, y_val_pred))
print("Validation Classification Report:\n", classification_report(y_val, y_val_pred))

Validation Accuracy: 0.9815
Validation Classification Report:
               precision    recall  f1-score   support

           0       0.98      0.99      0.99      1288
           1       0.98      0.97      0.97       712

    accuracy                           0.98      2000
   macro avg       0.98      0.98      0.98      2000
weighted avg       0.98      0.98      0.98      2000

In [12]:
#Predicting probabilities for the positive class (class 1)
y_prob = rf_model.predict_proba(X_test)[:, 1]

#Calculating AUC
auc = roc_auc_score(y_test, y_prob)
print(f'AUC-ROC: {auc}')

AUC-ROC: 0.9978429108737342

In [13]:
#Save train and test sets

X_train.to_csv('task1_Xtrain.csv', index=False)
X_temp.to_csv('task1_Xtemp.csv', index=False)
X_val.to_csv('task1_Xval.csv', index=False)
X_test.to_csv('task1_Xtest.csv', index=False)
y_train.to_csv('task1_Ytrain.csv', index=False)
y_temp.to_csv('task1_Ytemp.csv', index=False)
y_val.to_csv('task1_Yval.csv', index=False)
y_test.to_csv('task1_Ytest.csv', index=False)

In [14]:
#Generating a confusion matrix
y_pred = rf_model.predict(X_test)

cm = confusion_matrix(y_test, y_pred)

cm

array([[1247,   22],
       [  28,  703]], dtype=int64)

In [15]:
from sklearn.experimental import enable_halving_search_cv
from sklearn.model_selection import HalvingGridSearchCV
from sklearn.ensemble import RandomForestClassifier
from sklearn.model_selection import KFold

#Parameters for tuning
param_grid = {
    'n_estimators': [100, 200, 300],
    'max_depth': [None, 10, 20],
    'min_samples_split': [2, 5]
}

#Initializing Random Forest model
rf_model = RandomForestClassifier(random_state=1)

#K-Fold cross-validation
halving_search = HalvingGridSearchCV(
    estimator=rf_model,
    param_grid=param_grid,
    cv=5,
    factor=2,
    random_state=1,
    scoring='roc_auc',
    verbose=2
)

#Hyperparameter search ontraining set
halving_search.fit(X_train, y_train)

#Give an output of the best parameters
print("Best hyperparameters found: ", halving_search.best_params_)
optimized_rf_model = halving_search.best_estimator_

n_iterations: 5
n_required_iterations: 5
n_possible_iterations: 5
min_resources_: 375
max_resources_: 6000
aggressive_elimination: False
factor: 2
----------
iter: 0
n_candidates: 18
n_resources: 375
Fitting 5 folds for each of 18 candidates, totalling 90 fits
[CV] END max_depth=None, min_samples_split=2, n_estimators=100; total time=   0.3s
[CV] END max_depth=None, min_samples_split=2, n_estimators=100; total time=   0.3s
[CV] END max_depth=None, min_samples_split=2, n_estimators=100; total time=   0.3s
[CV] END max_depth=None, min_samples_split=2, n_estimators=100; total time=   0.3s
[CV] END max_depth=None, min_samples_split=2, n_estimators=100; total time=   0.3s
[CV] END max_depth=None, min_samples_split=2, n_estimators=200; total time=   0.6s
[CV] END max_depth=None, min_samples_split=2, n_estimators=200; total time=   0.6s
[CV] END max_depth=None, min_samples_split=2, n_estimators=200; total time=   0.7s
[CV] END max_depth=None, min_samples_split=2, n_estimators=200; total time=   0.6s
[CV] END max_depth=None, min_samples_split=2, n_estimators=200; total time=   0.6s
[CV] END max_depth=None, min_samples_split=2, n_estimators=300; total time=   1.1s
[CV] END max_depth=None, min_samples_split=2, n_estimators=300; total time=   0.9s
[CV] END max_depth=None, min_samples_split=2, n_estimators=300; total time=   0.9s
[CV] END max_depth=None, min_samples_split=2, n_estimators=300; total time=   0.9s
[CV] END max_depth=None, min_samples_split=2, n_estimators=300; total time=   1.0s
[CV] END max_depth=None, min_samples_split=5, n_estimators=100; total time=   0.2s
[CV] END max_depth=None, min_samples_split=5, n_estimators=100; total time=   0.2s
[CV] END max_depth=None, min_samples_split=5, n_estimators=100; total time=   0.2s
[CV] END max_depth=None, min_samples_split=5, n_estimators=100; total time=   0.3s
[CV] END max_depth=None, min_samples_split=5, n_estimators=100; total time=   0.3s
[CV] END max_depth=None, min_samples_split=5, n_estimators=200; total time=   0.6s
[CV] END max_depth=None, min_samples_split=5, n_estimators=200; total time=   0.6s
[CV] END max_depth=None, min_samples_split=5, n_estimators=200; total time=   0.6s
[CV] END max_depth=None, min_samples_split=5, n_estimators=200; total time=   0.6s
[CV] END max_depth=None, min_samples_split=5, n_estimators=200; total time=   0.7s
[CV] END max_depth=None, min_samples_split=5, n_estimators=300; total time=   0.9s
[CV] END max_depth=None, min_samples_split=5, n_estimators=300; total time=   1.0s
[CV] END max_depth=None, min_samples_split=5, n_estimators=300; total time=   0.9s
[CV] END max_depth=None, min_samples_split=5, n_estimators=300; total time=   0.9s
[CV] END max_depth=None, min_samples_split=5, n_estimators=300; total time=   0.9s
[CV] END max_depth=10, min_samples_split=2, n_estimators=100; total time=   0.3s
[CV] END max_depth=10, min_samples_split=2, n_estimators=100; total time=   0.2s
[CV] END max_depth=10, min_samples_split=2, n_estimators=100; total time=   0.3s
[CV] END max_depth=10, min_samples_split=2, n_estimators=100; total time=   0.3s
[CV] END max_depth=10, min_samples_split=2, n_estimators=100; total time=   0.3s
[CV] END max_depth=10, min_samples_split=2, n_estimators=200; total time=   0.6s
[CV] END max_depth=10, min_samples_split=2, n_estimators=200; total time=   0.6s
[CV] END max_depth=10, min_samples_split=2, n_estimators=200; total time=   0.6s
[CV] END max_depth=10, min_samples_split=2, n_estimators=200; total time=   0.6s
[CV] END max_depth=10, min_samples_split=2, n_estimators=200; total time=   0.6s
[CV] END max_depth=10, min_samples_split=2, n_estimators=300; total time=   0.9s
[CV] END max_depth=10, min_samples_split=2, n_estimators=300; total time=   1.0s
[CV] END max_depth=10, min_samples_split=2, n_estimators=300; total time=   0.9s
[CV] END max_depth=10, min_samples_split=2, n_estimators=300; total time=   0.9s
[CV] END max_depth=10, min_samples_split=2, n_estimators=300; total time=   1.0s
[CV] END max_depth=10, min_samples_split=5, n_estimators=100; total time=   0.3s
[CV] END max_depth=10, min_samples_split=5, n_estimators=100; total time=   0.3s
[CV] END max_depth=10, min_samples_split=5, n_estimators=100; total time=   0.3s
[CV] END max_depth=10, min_samples_split=5, n_estimators=100; total time=   0.3s
[CV] END max_depth=10, min_samples_split=5, n_estimators=100; total time=   0.3s
[CV] END max_depth=10, min_samples_split=5, n_estimators=200; total time=   0.6s
[CV] END max_depth=10, min_samples_split=5, n_estimators=200; total time=   0.6s
[CV] END max_depth=10, min_samples_split=5, n_estimators=200; total time=   0.6s
[CV] END max_depth=10, min_samples_split=5, n_estimators=200; total time=   0.6s
[CV] END max_depth=10, min_samples_split=5, n_estimators=200; total time=   0.6s
[CV] END max_depth=10, min_samples_split=5, n_estimators=300; total time=   1.0s
[CV] END max_depth=10, min_samples_split=5, n_estimators=300; total time=   0.9s
[CV] END max_depth=10, min_samples_split=5, n_estimators=300; total time=   0.9s
[CV] END max_depth=10, min_samples_split=5, n_estimators=300; total time=   0.9s
[CV] END max_depth=10, min_samples_split=5, n_estimators=300; total time=   0.9s
[CV] END max_depth=20, min_samples_split=2, n_estimators=100; total time=   0.3s
[CV] END max_depth=20, min_samples_split=2, n_estimators=100; total time=   0.3s
[CV] END max_depth=20, min_samples_split=2, n_estimators=100; total time=   0.3s
[CV] END max_depth=20, min_samples_split=2, n_estimators=100; total time=   0.3s
[CV] END max_depth=20, min_samples_split=2, n_estimators=100; total time=   0.3s
[CV] END max_depth=20, min_samples_split=2, n_estimators=200; total time=   0.6s
[CV] END max_depth=20, min_samples_split=2, n_estimators=200; total time=   0.6s
[CV] END max_depth=20, min_samples_split=2, n_estimators=200; total time=   0.6s
[CV] END max_depth=20, min_samples_split=2, n_estimators=200; total time=   0.7s
[CV] END max_depth=20, min_samples_split=2, n_estimators=200; total time=   0.6s
[CV] END max_depth=20, min_samples_split=2, n_estimators=300; total time=   1.0s
[CV] END max_depth=20, min_samples_split=2, n_estimators=300; total time=   1.0s
[CV] END max_depth=20, min_samples_split=2, n_estimators=300; total time=   1.0s
[CV] END max_depth=20, min_samples_split=2, n_estimators=300; total time=   0.9s
[CV] END max_depth=20, min_samples_split=2, n_estimators=300; total time=   0.9s
[CV] END max_depth=20, min_samples_split=5, n_estimators=100; total time=   0.2s
[CV] END max_depth=20, min_samples_split=5, n_estimators=100; total time=   0.2s
[CV] END max_depth=20, min_samples_split=5, n_estimators=100; total time=   0.3s
[CV] END max_depth=20, min_samples_split=5, n_estimators=100; total time=   0.3s
[CV] END max_depth=20, min_samples_split=5, n_estimators=100; total time=   0.3s
[CV] END max_depth=20, min_samples_split=5, n_estimators=200; total time=   0.6s
[CV] END max_depth=20, min_samples_split=5, n_estimators=200; total time=   0.6s
[CV] END max_depth=20, min_samples_split=5, n_estimators=200; total time=   0.6s
[CV] END max_depth=20, min_samples_split=5, n_estimators=200; total time=   0.6s
[CV] END max_depth=20, min_samples_split=5, n_estimators=200; total time=   0.6s
[CV] END max_depth=20, min_samples_split=5, n_estimators=300; total time=   0.9s
[CV] END max_depth=20, min_samples_split=5, n_estimators=300; total time=   0.9s
[CV] END max_depth=20, min_samples_split=5, n_estimators=300; total time=   0.9s
[CV] END max_depth=20, min_samples_split=5, n_estimators=300; total time=   1.0s
[CV] END max_depth=20, min_samples_split=5, n_estimators=300; total time=   1.0s
----------
iter: 1
n_candidates: 9
n_resources: 750
Fitting 5 folds for each of 9 candidates, totalling 45 fits
[CV] END max_depth=None, min_samples_split=5, n_estimators=300; total time=   1.0s
[CV] END max_depth=None, min_samples_split=5, n_estimators=300; total time=   1.1s
[CV] END max_depth=None, min_samples_split=5, n_estimators=300; total time=   1.1s
[CV] END max_depth=None, min_samples_split=5, n_estimators=300; total time=   1.1s
[CV] END max_depth=None, min_samples_split=5, n_estimators=300; total time=   1.1s
[CV] END max_depth=None, min_samples_split=5, n_estimators=200; total time=   0.7s
[CV] END max_depth=None, min_samples_split=5, n_estimators=200; total time=   0.7s
[CV] END max_depth=None, min_samples_split=5, n_estimators=200; total time=   0.8s
[CV] END max_depth=None, min_samples_split=5, n_estimators=200; total time=   0.8s
[CV] END max_depth=None, min_samples_split=5, n_estimators=200; total time=   0.7s
[CV] END max_depth=None, min_samples_split=5, n_estimators=100; total time=   0.3s
[CV] END max_depth=None, min_samples_split=5, n_estimators=100; total time=   0.3s
[CV] END max_depth=None, min_samples_split=5, n_estimators=100; total time=   0.3s
[CV] END max_depth=None, min_samples_split=5, n_estimators=100; total time=   0.3s
[CV] END max_depth=None, min_samples_split=5, n_estimators=100; total time=   0.3s
[CV] END max_depth=20, min_samples_split=5, n_estimators=300; total time=   1.1s
[CV] END max_depth=20, min_samples_split=5, n_estimators=300; total time=   1.1s
[CV] END max_depth=20, min_samples_split=5, n_estimators=300; total time=   1.1s
[CV] END max_depth=20, min_samples_split=5, n_estimators=300; total time=   1.1s
[CV] END max_depth=20, min_samples_split=5, n_estimators=300; total time=   1.1s
[CV] END max_depth=10, min_samples_split=2, n_estimators=100; total time=   0.4s
[CV] END max_depth=10, min_samples_split=2, n_estimators=100; total time=   0.3s
[CV] END max_depth=10, min_samples_split=2, n_estimators=100; total time=   0.3s
[CV] END max_depth=10, min_samples_split=2, n_estimators=100; total time=   0.3s
[CV] END max_depth=10, min_samples_split=2, n_estimators=100; total time=   0.3s
[CV] END max_depth=None, min_samples_split=2, n_estimators=300; total time=   1.1s
[CV] END max_depth=None, min_samples_split=2, n_estimators=300; total time=   1.0s
[CV] END max_depth=None, min_samples_split=2, n_estimators=300; total time=   1.1s
[CV] END max_depth=None, min_samples_split=2, n_estimators=300; total time=   1.0s
[CV] END max_depth=None, min_samples_split=2, n_estimators=300; total time=   1.1s
[CV] END max_depth=20, min_samples_split=2, n_estimators=200; total time=   0.7s
[CV] END max_depth=20, min_samples_split=2, n_estimators=200; total time=   0.7s
[CV] END max_depth=20, min_samples_split=2, n_estimators=200; total time=   0.7s
[CV] END max_depth=20, min_samples_split=2, n_estimators=200; total time=   0.7s
[CV] END max_depth=20, min_samples_split=2, n_estimators=200; total time=   0.7s
[CV] END max_depth=20, min_samples_split=2, n_estimators=300; total time=   1.1s
[CV] END max_depth=20, min_samples_split=2, n_estimators=300; total time=   1.1s
[CV] END max_depth=20, min_samples_split=2, n_estimators=300; total time=   1.1s
[CV] END max_depth=20, min_samples_split=2, n_estimators=300; total time=   1.0s
[CV] END max_depth=20, min_samples_split=2, n_estimators=300; total time=   1.1s
[CV] END max_depth=None, min_samples_split=2, n_estimators=200; total time=   0.7s
[CV] END max_depth=None, min_samples_split=2, n_estimators=200; total time=   0.7s
[CV] END max_depth=None, min_samples_split=2, n_estimators=200; total time=   0.7s
[CV] END max_depth=None, min_samples_split=2, n_estimators=200; total time=   0.7s
[CV] END max_depth=None, min_samples_split=2, n_estimators=200; total time=   0.7s
----------
iter: 2
n_candidates: 5
n_resources: 1500
Fitting 5 folds for each of 5 candidates, totalling 25 fits
[CV] END max_depth=None, min_samples_split=2, n_estimators=300; total time=   1.4s
[CV] END max_depth=None, min_samples_split=2, n_estimators=300; total time=   1.4s
[CV] END max_depth=None, min_samples_split=2, n_estimators=300; total time=   1.5s
[CV] END max_depth=None, min_samples_split=2, n_estimators=300; total time=   1.5s
[CV] END max_depth=None, min_samples_split=2, n_estimators=300; total time=   1.5s
[CV] END max_depth=20, min_samples_split=2, n_estimators=300; total time=   1.4s
[CV] END max_depth=20, min_samples_split=2, n_estimators=300; total time=   1.4s
[CV] END max_depth=20, min_samples_split=2, n_estimators=300; total time=   1.4s
[CV] END max_depth=20, min_samples_split=2, n_estimators=300; total time=   1.4s
[CV] END max_depth=20, min_samples_split=2, n_estimators=300; total time=   1.5s
[CV] END max_depth=None, min_samples_split=5, n_estimators=100; total time=   0.4s
[CV] END max_depth=None, min_samples_split=5, n_estimators=100; total time=   0.4s
[CV] END max_depth=None, min_samples_split=5, n_estimators=100; total time=   0.4s
[CV] END max_depth=None, min_samples_split=5, n_estimators=100; total time=   0.4s
[CV] END max_depth=None, min_samples_split=5, n_estimators=100; total time=   0.4s
[CV] END max_depth=20, min_samples_split=2, n_estimators=200; total time=   0.9s
[CV] END max_depth=20, min_samples_split=2, n_estimators=200; total time=   1.0s
[CV] END max_depth=20, min_samples_split=2, n_estimators=200; total time=   0.9s
[CV] END max_depth=20, min_samples_split=2, n_estimators=200; total time=   0.9s
[CV] END max_depth=20, min_samples_split=2, n_estimators=200; total time=   0.9s
[CV] END max_depth=None, min_samples_split=2, n_estimators=200; total time=   0.9s
[CV] END max_depth=None, min_samples_split=2, n_estimators=200; total time=   0.9s
[CV] END max_depth=None, min_samples_split=2, n_estimators=200; total time=   0.9s
[CV] END max_depth=None, min_samples_split=2, n_estimators=200; total time=   0.9s
[CV] END max_depth=None, min_samples_split=2, n_estimators=200; total time=   0.9s
----------
iter: 3
n_candidates: 3
n_resources: 3000
Fitting 5 folds for each of 3 candidates, totalling 15 fits
[CV] END max_depth=20, min_samples_split=2, n_estimators=300; total time=   2.2s
[CV] END max_depth=20, min_samples_split=2, n_estimators=300; total time=   2.3s
[CV] END max_depth=20, min_samples_split=2, n_estimators=300; total time=   2.3s
[CV] END max_depth=20, min_samples_split=2, n_estimators=300; total time=   2.3s
[CV] END max_depth=20, min_samples_split=2, n_estimators=300; total time=   2.1s
[CV] END max_depth=20, min_samples_split=2, n_estimators=200; total time=   1.5s
[CV] END max_depth=20, min_samples_split=2, n_estimators=200; total time=   1.4s
[CV] END max_depth=20, min_samples_split=2, n_estimators=200; total time=   1.5s
[CV] END max_depth=20, min_samples_split=2, n_estimators=200; total time=   1.5s
[CV] END max_depth=20, min_samples_split=2, n_estimators=200; total time=   1.4s
[CV] END max_depth=None, min_samples_split=2, n_estimators=200; total time=   1.5s
[CV] END max_depth=None, min_samples_split=2, n_estimators=200; total time=   1.5s
[CV] END max_depth=None, min_samples_split=2, n_estimators=200; total time=   1.4s
[CV] END max_depth=None, min_samples_split=2, n_estimators=200; total time=   1.4s
[CV] END max_depth=None, min_samples_split=2, n_estimators=200; total time=   1.4s
----------
iter: 4
n_candidates: 2
n_resources: 6000
Fitting 5 folds for each of 2 candidates, totalling 10 fits
[CV] END max_depth=None, min_samples_split=2, n_estimators=200; total time=   2.5s
[CV] END max_depth=None, min_samples_split=2, n_estimators=200; total time=   2.5s
[CV] END max_depth=None, min_samples_split=2, n_estimators=200; total time=   2.5s
[CV] END max_depth=None, min_samples_split=2, n_estimators=200; total time=   2.7s
[CV] END max_depth=None, min_samples_split=2, n_estimators=200; total time=   2.6s
[CV] END max_depth=20, min_samples_split=2, n_estimators=300; total time=   3.9s
[CV] END max_depth=20, min_samples_split=2, n_estimators=300; total time=   3.8s
[CV] END max_depth=20, min_samples_split=2, n_estimators=300; total time=   3.9s
[CV] END max_depth=20, min_samples_split=2, n_estimators=300; total time=   4.1s
[CV] END max_depth=20, min_samples_split=2, n_estimators=300; total time=   3.8s
Best hyperparameters found:  {'max_depth': None, 'min_samples_split': 2, 'n_estimators': 200}

In [16]:
#Random Forest Classifier with the best hyperparameters
optimized_rf_model = RandomForestClassifier(
    max_depth=None, 
    min_samples_split=2, 
    n_estimators=200, 
    random_state=1
)

#Train  model and make predictions on test set
optimized_rf_model.fit(X_train, y_train)
y_pred = optimized_rf_model.predict(X_test)

#Evaluating model performance and confusion matrix
print("Accuracy:", accuracy_score(y_val, y_val_pred))
print("Classification Report:\n", classification_report(y_test, y_pred))

print("Confusion Matrix:")
print(confusion_matrix(y_test, y_pred))

Accuracy: 0.9815
Classification Report:
               precision    recall  f1-score   support

           0       0.98      0.98      0.98      1269
           1       0.97      0.96      0.97       731

    accuracy                           0.98      2000
   macro avg       0.97      0.97      0.97      2000
weighted avg       0.98      0.98      0.98      2000

Confusion Matrix:
[[1248   21]
 [  28  703]]

In [17]:
#Making predictions on the test set
y_pred_prob = halving_search.best_estimator_.predict_proba(X_test)[:, 1]

#Calculating AUC-ROC
roc_auc = roc_auc_score(y_test, y_pred_prob)
print("AUC-ROC:", roc_auc)

AUC-ROC: 0.9979302293241229